@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1190px;
  margin: 0 auto;
}
.section-header {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 28px;
}
.section-header ul {
  display: flex;
  gap: 28px;
}
.section-header li {
  list-style-type: none;
}
.section-header .active {
  color: black;
}
.section-header a {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}
.sticky{
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.section1 {
  margin-top: 80px;
  background: url(../images/cover.png) center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
}
.section1-left {
  width: 50%;
  text-align: left;
}
.section1-left h1 {
  padding-top: 100px;
  padding-bottom: 35px;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252b42;
}
.section1-left p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
  padding-bottom: 35px;
}
.section1-btn {
  background: #ffa62b;
  border-radius: 37px;
  color: #ffffff;
  border: 0 solid #ffffff;
  padding: 10px 36px;
}
.section1-link {
  padding: 10px 36px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #00a0c1;
  border-radius: 37px;
  border: 1px solid #00a0c1;
  background-color: #ffffff;
  margin-left: 5px;
}
.section-cards {
  padding-bottom: 100px;
}
.grid-container {
  display: grid;
  gap: 32px;
  grid-template-columns: auto auto auto;
}
.grid-item {
  background: #ffffff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  margin-top: -100px;
  padding: 40px;
  transition: 0.3s;
}
.grid-item img {
  margin-bottom: 13px;
}
.grid-item h3 {
  margin-bottom: 10px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}
.grid-item p {
  font-size: 14px;
  font-family: Montserrat;
}
.card-active {
  background-color: #00a0c1;
  color: #ffffff;
}
.grid-item:hover {
  background-color: #00a0c1;
  color: #ffffff;
  box-shadow: none;
}
.section2 {
  margin-top: 100px;
}
.section2 h2 {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
}
.section2 p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 50px;
}
.grid-about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 100px;
  gap: 40px;
  text-align: center;
}
.grid-about-card {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 30px;
}
.grid-about-card h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
}
.grid-about-card p {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #737373;
}
.section3 h2 {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
}
.section3 p {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 45px;
}
.grid-advice {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 100px;
}
.grid-advice-card {
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.grid-advice-card h4 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 15px;
}
.grid-advice-card p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 30px;
}
.title {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-bottom: 15px;
}
.text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 100px;
}
.section4-services {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.services-img{
  position: relative;
  width: 598px;
  height: 442px;
}
.player{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.services-right {
  padding: 40px;
}
.services-right h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-bottom: 10px;
}
.services-right p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 50px;
}
.people {
  display: flex;
  gap: 20px;
  align-items: center;
}
.paragraph {
  padding-left: 50px;
  margin-top: 5px;
}
.section5 {
  background-color: #fafafa;
  padding-bottom: 90px;
}
.section5-top {
  display: flex;
  justify-content: space-around;
  padding: 70px;
}
.section5-bottom {
  background-color: #16697a;
  border-radius: 2px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.section5-bottom p {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #ffffff;
}
.section6 {
  background-color: #f3f3f3;
}
.section6 h2 {
  padding-top: 80px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
  text-align: center;
  margin-bottom: 10px;
}
.section6 p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 80px;
}
.input-btn {
  display: flex;
  align-items: center;
}
.submit {
  width: 450px;
  height: 40px;
  font-size: 18px;
  padding: 15px 20px;
  border: 1px solid #e6e6e6;
  margin-right: 0;
  margin-left: 0;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  
}
.btn-search {
  width: 70px;
  height: 40px;
  background-color: #ffa62b;
  color: white;
  border: 0 solid;
}
.grid-contact {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  margin-bottom: 100px;
}
.grid-contact-item {
  background-color: #ffffff;
  margin-bottom: 200px;
  text-align: center;
  padding: 50px;
  transition: 0.3s;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.grid-contact-item img {
  margin-bottom: 15px;
}
.grid-contact-item p {
  margin-bottom: 15px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.grid-contact-item p a {
  color: #252b42;
  text-decoration: none;
}
.grid-contact-item h4 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 15px;
}

.grid-contact-item button {
  padding: 10px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  border: 1px solid #ffa62b;
  color: #ffa62b;
  background-color: #ffffff;
  border-radius: 5px;
}
.grid-contact-item:hover {
  background-color: #252b42;
  color: white !important;
  box-shadow: none;
}
.grid-contact-item:hover a {
  color: white;
}
.grid-contact-item:hover h4 {
  color: white;
}
.section7-input {
  text-align: center;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.spend:hover {
  background-color: burlywood;
  color: black;
}
.spend {
  background-color: #ffa62b;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: center;
  margin-top: 60px;
  margin-bottom: 90px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
}
input[type="Contact us"]:hover {
  background-color: #ffa62b;
}
.col-75 {
  float: left;
  width: 100%;
  margin-top: 6px;
}
@media screen and (max-width: 600px) {
  .col-75,
  input[type="Contact us"] {
    width: 100%;
    margin-top: 0;
  }
}
.footer {
  background-color: #16697a;
  margin-bottom: 25px;
}
.footer-common {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
.footer-common ul {
  list-style-type: none;
}
.footer-common ul a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.footer-common ul li {
  margin-bottom: 10px;
}
.footer-active {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #ffffff;
  margin-bottom: 20px !important;
}
.footer-icon {
  display: flex;
  gap: 20px;
}
.finally {
  margin-bottom: 100px;
}
.finally-common {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.iconcs {
  display: flex;
  gap: 20px;
}
.finally-common p {
  margin-left: 88px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
@media screen and (max-width: 786px) {
  .grid-about, .grid-container, .grid-advice, .grid-contact{
    grid-template-columns: 1fr;
  }
  .container {
    width: 680px;
  }
  .section4-services {
    display: block;
  }
  .section5-bottom {
    display: block;
  }
  .submit {
    width: 300px;
  }
  .section-header ul {
    display: none;
  }
  .services-img{
    width: 100%;
  }
  .services-img img:first-child{
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 420px;
  }
  .services-img{
    width: 400px;
  }
}
